<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="us.rader.wyfy"
    android:versionCode="202"
    android:versionName="2.2" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.NFC" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="us.rader.wyfy.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="wifi" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:mimeType="application/x-wyfy" />
            </intent-filter>
        </activity>
        <activity
            android:name="us.rader.wyfy.WriteTagActivity"
            android:label="@string/title_activity_write_tag"
            android:parentActivityName="us.rader.wyfy.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="us.rader.wyfy.MainActivity" />
        </activity>

        <provider
            android:name=".provider.FileProvider"
            android:authorities="@string/provider_authority_file"
            android:exported="true"
            android:grantUriPermissions="true"
            tools:ignore="ExportedContentProvider" >
        </provider>

        <activity
            android:name="us.rader.wyfy.SavedRowsActivity"
            android:label="@string/title_activity_delete_rows"
            android:parentActivityName="us.rader.wyfy.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="us.rader.wyfy.MainActivity" />
        </activity>
    </application>

</manifest>